header{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    box-shadow:0 3px 15px rgba(0,0,0,.08);

}

.page-title{

    font-size:28px;

    font-weight:700;

    color:#333;

}

.right-section{

    display:flex;

    align-items:center;

    gap:25px;

}

.notification{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#F3F5F9;

    display:flex;

    justify-content:center;

    align-items:center;

    cursor:pointer;

    transition:.25s;

}

.notification:hover{

    background:#E60000;

    color:white;

}

.user-card{

    display:flex;

    align-items:center;

    gap:15px;

}

.avatar{

    width:48px;

    height:48px;

    min-width:48px;

    border-radius:50%;

    background:#E60000;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:700;

    font-size:18px;

    flex-shrink:0;

    overflow:hidden;

    line-height:1;

}

.user-info{

    display:flex;

    flex-direction:column;

}

.user-info strong{

    font-size:15px;

}

.user-info small{

    color:#777;

}

.logout-btn{

    width:45px;

    height:45px;

    border:none;

    border-radius:12px;

    background:#F3F5F9;

    cursor:pointer;

    transition:.25s;

}

.logout-btn:hover{

    background:#E60000;

    color:white;

}